<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pers.MyStore.mapper.OrderMapper">

	<select id="findAll" resultType="com.pers.MyStore.entity.Order">
		SELECT * FROM `order` ORDER BY order_date DESC
	</select>

	<insert id="addOrder">
		INSERT INTO mystore.`order`
		(order_id, user_id,
		product_id, product_price, quantity, total_price, order_date)
		VALUES(#{order_id}, #{user_id}, #{product_id}, #{product_price},
		#{quantity}, #{total_price}, CURRENT_TIMESTAMP);
	</insert>
	
	<select id="findByMutiConditions"
		resultType="com.pers.MyStore.entity.Order">
		select * 
		from `order`
		<where>
			<if test="order_id != null and order_id != ''">
				and order_id=#{order_id}
			</if>
			<if test="user_id != null and user_id != ''">
				and user_id=#{user_id}
			</if>
			<if test="product_id != null">
				and product_id=#{product_id}
			</if>
			<if test="orderPriceLowerBound != null">
				and product_price &gt;= #{orderPriceLowerBound}
			</if>
			<if test="orderPriceUpperBound != null">
				and product_price &lt;= #{orderPriceUpperBound}
			</if>
			<if test="oderDateLowerBound != null">
				and order_date &gt;= #{oderDateLowerBound}
			</if>
			<if test="oderDateUpperBound != null">
				and order_date &lt;= #{oderDateUpperBound}
			</if>
		</where>
	</select>
	
	<delete id="removeOrder">
		DELETE FROM mystore.`order`
		WHERE user_id=#{user_id} and order_id=#{order_id};
	</delete>

	<select id="findOrderByProduct"
		resultType="com.pers.MyStore.entity.Order">
		SELECT * FROM `order`
		WHERE product_id=#{product_id};
	</select>
	
	<select id="orderCount">
		select COUNT(*)
		from `order`;
	</select>
	
	<select id="orderSum">
		select SUM(`order`.total_price)
		from `order`;
	</select>
	
	<select id="orderCountToday">
		select COUNT(*)
		from `order` 
		where DATE(order_date)=CURDATE();
	</select>
	
	<select id="orderSumToday">
		select COUNT(`order`.total_price)
		from `order` 
		where DATE(order_date)=CURDATE();
	</select>

	<select id="findOrderByUser"
		resultType="com.pers.MyStore.entity.Order">
		SELECT * FROM `order`
		WHERE user_id=#{user_id}
	</select>

	<select id="findOrderByUserWithPname"
		resultType="com.pers.MyStore.entity.Order">
		SELECT `order`.*,product.product_name
		FROM `order` left join product on `order`.product_id=product.product_id
		WHERE user_id=#{user_id}
		ORDER BY `order`.order_date DESC
	</select>

</mapper>